<h1>All Shares</h1>

  <% @drinks.each do |drink| %>
    
    Drink Name: <%= share.drink_name %> <br>
    Drink Type: <%= share.size %> <br>
    Drink Sub-Type: <%= share.price %> <br>
    

    <% end %>

